<h1>Update Student <%= student.sid %> </h1>
<hr />
<a href="/">Home</a><br />
<hr />
<div>
    <form action="/students/update/<%= student.sid %>" method="POST">
        <label for="sid">Student ID</label>
        <input type="text" id="sid" name="sid" value="<%= student.sid %>" disabled/><br />
        
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= student.name %>"/><br />
        
        <label for="age">Age</label>
        <input type="number" id="age" name="age" value="<%= student.age %>"/><br />
        
        <input type="submit" value="Update" />
    </form>
</div>
